<h2>Edit player!</h2>
<br>
<%= render partial: 'layouts/errors', locals: {object: @player} %>

<%= form_for(@player) do |f| %>
  <div>
    <%= f.label "Player:" %>
    <%= f.text_field :name %>
  </div>
  <br>
  <div>
    <%= f.label "Gender:" %>
    <%= f.text_field :gender %>
  </div>
  <br>
   <div>
    <%= f.label "Bio:" %>
    <%= f.text_field :bio %>
  </div>
  <br>
  <div>
    <%= f.label "Image:" %>
    <%= f.file_field :image %>
  </div>
  <br>
  
    <br>
  <h4> Select a team </h4>
    <div>
      <%= f.collection_select :team_id, Team.all, :id, :name,
      include_blank: 'Select one team' %>
    </div>
    <br>
  <h4> Other: </h4>
    <%= f.fields_for :team do |t| %>
      <div>
        <%= t.label "Team" %>
        <%= t.text_field :name %>
      </div>
        <br>
       <div>
        <%= t.label :country %>
        <%= t.text_field :country %>
    <% end %>
       </div> 
      <br><br>
        <%= f.submit %>
  <% end %>

