<br>
<h2><%= @player.name.titleize %></h2>
<h3><%= @player.team.name %> - <%= @player.team.country %></h3><br>
  <% if @player.image.attached? %>
    <%= image_tag url_for(@player.image) %>
  <% end %>
<h3><%= @player.bio %></h3>
<br>
<h4>Position: <%= @player.position %></h4>
    <br>
<strong><p>Created by: <%= @player.user.name %></p></strong>

<%= render 'player_buttons' %>



