<br><br>
<h1>Reviews</h1>
<br>
  <ol>
    <% @reviews.each do |r| %>
      <li><h2><%= link_to r.player.name.titleize, player_path(r.player_id) %> - <%= r.player.team.name %></h2></li>
      <h4>Star(s): <%= r.stars %></h4>
      <h4>Title: <%= r.title %></h4>
      <h5>Review: <%= r.content %></h5>
      <strong><p>By, <%= r.user.name %></p></strong>
      <p>Created <%= r.created_at %> </p>
    <br>
    <% end %>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>