<br>
<h1>Reviews</h1>
<br>
  <ol>
    <% @reviews.each do |r| %>
      <li><h2><%= r.player.name.titleize %> - <%= r.player.team.name %></h2></li>
      <h4>Star(s): <%= r.stars %></h4>
      <h4>Title: <%= r.title %></h4>
      <h5>Review: <%= r.content %></h5>
      <strong><p>By, <%= r.user.name %></p></strong> 
    <br>
      <!-- <%= link_to 'Write a Review', new_player_review_path(:player_id) %> -->
    <% end %>
